<body style="background: linear-gradient(-135deg, #E4A972, #9941D8);">
  <div class="user-form">
    <div class="logo">
      Pictures!
    </div>
    <div class="form-group">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <ul>
        <li><%= f.email_field :email,class: 'form-control',placeholder: "メールアドレス" %></li>
        <li><%= f.password_field :password,class: 'form-control',placeholder: "パスワード" %></li>
        <li><%= f.submit "ログイン",class: 'btn btn-primary btn-block btn-sm' %></li>
      </ul>
      <% end %>
      <div>
        <p>アカウントをお持ちでない方はこちら</p>
        <%= link_to "新規アカウント", new_user_path,class: 'btn btn-primary btn-block btn-sm' %>
      </div>
    </div>
  </div>
</body>
