<body style="background: linear-gradient(-135deg, #E4A972, #9941D8);">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
  <div class="user-form">
    <div class="logo">
      新規登録
    </div>
    <div class="form-group">
      <%= form_with(model: @user, local: true) do |f| %>
        <ul>
          <li>プロフィール画像<%= f.file_field :icon,id: :user_icon,class: 'form-control' %></li>
          <li><%= f.hidden_field :icon_cache %></li>
          <li><%= f.text_field :name,class: 'form-control',placeholder: "ユーザーネーム" %><li>
          <li><%= f.email_field :email,class: 'form-control',placeholder: "メールアドレス"%></li>
          <li><%= f.password_field :password,class: 'form-control',placeholder: "パスワード" %></li>
          <li><%= f.password_field :password_confirmation,class: 'form-control',placeholder: "パスワード再入力" %></li>

          <li><%= f.submit "アカウント登録",class: 'btn btn-primary btn-block btn-sm' %></li>
        </ul>
      <% end %>
    </div>
  </div>
</body>
