<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <div class="field">
    <%= image_tag(@picture.image) if @picture.image.url %>
    <%= form.hidden_field :image %>
    <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>
  </div>
  <div class="field">
    <%= form.hidden_field :content %>
    <%= @picture.content %>
  </div>
    <%= form.submit "submit" %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image %>
    <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>
    <%= form.submit "Back",name: 'back' %>
<% end %>
