<p id="notice"><%= notice %></p>

<h1>All Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>

    <%= picture.user.name %>
    <%= image_tag picture.image %>
    <%= picture.content %>
    <%= picture.created_at.strftime('%Y/%m/%d %H:%M')%>

      <tr>
        <td><%= link_to 'Show', pictures_path(picture.id) %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture.id),data: {confirm: '本当に編集していいですか？'} %></td>
        <td><%= link_to 'Destroy', picture_path(picture.id), method: :delete, data: { confirm: '本当にしていいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
