<!DOCTYPE html>
<html>
  <head>
    <title>IClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <div id="wrapper">
        <div id= "hwrapper">
          <header>
            <ul>
              <li><%= link_to "Pic", pictures_path %></li>
              <li><%= link_to "Fav", favorites_path %></li>
              <li><%= link_to "Prof", user_path(current_user.id) %></li>
              <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            </ul>
          </header>
        </div>
      <% end %>
      <div class="container">
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
      </div>
      <div id="fwrapper">
        <footer>
          <p>*+:｡.｡create_by_remixk13｡.｡:+*</p>
          <p>It becomes portfolio. Thank you for viewing！</p>
        </footer>
      </div>
      </div>
  </body>
</html>
